@font-face {
  font-family: "core";
  src: url(./fonts/CoreSansC45Regular.woff);
}
%search-style {
  font-size: 12px;
  font-weight: 600;
}
.flex {
  display: flex;
}
body {
  font-family: "core";
  color: #555;
}
body {
  overflow-x: hidden;
}
.flex {
  display: flex;
}

section {
  height: 100vh;
}

//inner setting
.inner {
  width: 1200px;
  height: 100%;
  margin: 0 auto;
}

header {
  height: 86px;
  a {
    display: inline-block;
    height: 100%;
    line-height: 29px;
    color: #333;
  }
  .inner {
    gap: 168px;
    align-items: center;
    nav {
      font-size: 15px;
      font-weight: 600;
      gap: 10px;
      ul {
        gap: 10px;
        li {
          &:first-child {
            position: relative;
            a {
              color: #ff603e;
            }
            &:after {
              content: " ";
              position: absolute;
              top: 0;
              right: -5px;
              width: 4px;
              height: 4px;
              background-color: #ff603e;
              border-radius: 50%;
            }
          }
        }
      }
      .search {
        position: relative;
        input {
          padding: 5px 10px;
          width: 240px;
          background-color: #fff;
          border: 1px solid #ff214f;
          border-radius: 15px;
          outline: none;
          @extend %search-style;
        }
        a {
          position: absolute;
          color: #ff214f;
          line-height: 26px;
          right: 15px;
        }
      }
    }
  }
}
#sect1 {
  height: auto;
  .just1day {
    height: 490px;
    background: url(http://fiximage.10x10.co.kr/web2018/main/bg_pattern_slash.png)
      0 0 repeat;

    .inner {
      width: 1200px;
      height: 100%;
      margin: auto;

      align-items: center;
      justify-content: space-between;
      .ftLt {
        width: 250px;
        p {
          font-size: 30px;
          color: #ff0000;
          padding-top: 30px;
          strong {
            font-weight: bold;
          }
        }
      }
      .items {
        width: 900px;
        justify-content: space-between;
        .thumbnail {
          img {
            border-radius: 50%;
            border: 10px solid #ffffff;
          }
        }
        .desc {
          cursor: pointer;
          line-height: 25px;
          text-align: center;
          .name {
            font-size: 15px;
          }
          .red {
            color: red;
            font-weight: bold;
          }
          .sum {
            font-weight: bold;
          }
        }
      }
    }
  }
}
#sect2 {
  margin-top: 100px;
  height: auto;
  .inner {
    position: relative;
    height: 1600px;
    .ftLt {
      width: 250px;
      flex-direction: column;
      h2 {
        position: relative;
        font-size: 32px;
        &::after {
          content: "";
          display: inline-block;
          position: absolute;
          left: 0;
          bottom: -40px;
          width: 8px;
          height: 1px;
          background-color: #666;
        }
        b {
          color: #000;
          font-size: 32px;
          line-height: 1.25;
        }
      }
      p {
        position: relative;
        padding-top: 60px;
        color: #333;
        font-size: 13px;
        line-height: 1.5;
      }
      ul {
        padding-top: 80px;
        li {
          a {
            display: inline-block;
            width: 80px;
            height: 24px;
            margin-bottom: 10px;
            padding: 0 10px;
            font-size: 13px;
            line-height: 24px;
            font-weight: normal;
            color: #000;
            background-color: #eee;
            border-radius: 12px;
            &.on{
              background-color: #4075ff;
              color: #fff;
            }
          }
        }
      }
    }
    .items {
      flex: 1;
      flex-wrap: wrap;
      justify-content: space-between;
      align-items: start;
      li {
        width: 30%;
        height: 400px;
        &:hover img {
          transform: scale(1.1);
          transition: 0.3s;
        }
        .thumbnail {
          overflow: hidden;
          img {
            width: 100%;
            height: 100%;
            transition: 0.3s;
          }
        }
        .desc {
          p {
            height: 35px;
            padding: 12px 0 8px;
            font-size: 14px;
            line-height: 1.29;
            white-space: normal;
            text-overflow: clip;
            span {
              display: inline-block;
              position: relative;
              height: auto;
              padding: 0;
              font-weight: normal;
              font-size: 10px;
              line-height: 1;
              background: none;
              color: #4075ff;
              font-weight: bold;
              border-radius: 12px;
              vertical-align: top;
            }
          }
          .price {
            font-size: 13px;
          }
        }
      }
    }
  }
}
#sect3 {
  height: 100vh;
  overflow: hidden;
  position: relative;
  .inner {
    position: relative;
    width: 100%;
    height: 680px;
    top: 50%;
    transform: translateY(-50%);
    background: #f7f7f7;

    article {
      position: relative;
      height: 680px;
      display: flex;
      background: #f7f7f7;
    }
    div {
      padding: 0 100px;
    }
    div.down {
      align-self: flex-end;
    }
  }
  .btns{
    position: absolute;
    width: 100px;
    height: 100px;
   top: 50%;
    transform: translateY(-50%);
  }
  .prev {
    background: url(./images/prev.png) no-repeat center / cover;
  }
  .next {
    right: 0;
    background: url(./images/next.png) no-repeat center / cover;
  }
}
#sect4 {
  height: 50vh;
  .inner {
    position: relative;
    .itemTab {
      position: absolute;
      right: 25px;
      top: -50px;
      ul {
        gap: 10px;
        li {
          a {
            display: block;
            padding: 8px 0;
            font-size: 14px;
            line-height: 1;
            color: #666;
            font-weight: bold;
            &.on {
              color: #000;
              border-bottom: 4px solid #4075ff;
            }
          }
        }
      }
    }
    .tab {
      display: none;
      position: absolute;
      justify-content: space-between;
      .ftLt {
        width: 250px;
        flex-direction: column;
        h2 {
          position: relative;
          color: #000;
          font-size: 32px;
          line-height: 1.25;
          font-weight: normal;
          b {
            color: #000;
            font-size: 32px;
            line-height: 1.25;
          }
        }
      }
      ul {
        width: 72%;
        gap: 40px;
        flex-wrap: wrap;
        li {
          position: relative;
          width: 180px;
          height: 180px;
          overflow: hidden;
          &:hover .desc {
            transform: translateY(0);
            transition: all 0.2s;
          }
          .thumbnail {
            overflow: hidden;
            height: 180px;
            img {
              height: 100%;
            }
          }
          .desc {
            position: absolute;
            bottom: 0;
            transform: translateY(100%);
            z-index: 10;
            width: 100%;
            height: 38px;
            padding: 8px;
            color: #fff;
            background-color: #000;
            background-color: rgba(0, 0, 0, 0.6);
            transition: all 0.2s;
            p {
              overflow: hidden;
              font-size: 13px;
              letter-spacing: -0.02em;
              text-overflow: ellipsis;
              white-space: nowrap;
            }
            .price {
              padding-top: 5px;
              font-size: 12px;
            }
          }
        }
      }
      &.on {
        display: flex;
      }
    }
  }
}
footer {
  padding: 20px;
  height: 40vh;
  border-top: 2px solid #ccc;
  .inner {
    .footerMenus {
      gap: 20px;
      li {
        a {
          font-size: 13px;
          line-height: 38px;
          &:hover {
            color: #ff603e;
          }
        }
        &:first-child {
          position: relative;
          a {
          }
          &:after {
            content: " ";
            position: absolute;
            top: 5px;
            right: -5px;
            width: 4px;
            height: 4px;
            background-color: #ff603e;
            border-radius: 50%;
          }
        }
      }
    }
    .infoWrap {
      gap: 60px;
      margin-top: 42px;
      text-align: left;
      .info {
        p {
          font-size: 13px;
          line-height: 2;
        }
        .company {
          em {
            display: inline-block;
            padding-bottom: 16px;
            font-size: 16px;
            font-style: normal;
          }
        }
      }
    }
    .shortCutWrap {
      width: 20%;
      ul {
        li {
          a {
            display: inline-block;
            width: 28px;
            height: 28px;
            margin-right: 12px;
            img {
              width: 100%;
              height: 100%;
            }
          }
        }
      }
      .shortCut {
        display: inline-block;
        width: 284px;
        margin-top: 30px;
        padding: 16px 0 16px 16px;
        background: #f7f7f7;
        border-radius: 8px;
        p {
          position: relative;
          padding-bottom: 8px;
          font-size: 12px;
          color: #000;
          font-weight: 700;
          line-height: normal;
          span {
            padding: 0 5px;
          }
        }
        .openTime {
          padding-bottom: 4px;
          font-size: 11px;
          color: #999;
          font-weight: 500;
          line-height: normal;
          .time {
            padding-left: 4px;
            font-size: 11px;
            color: #000;
            font-weight: 500;
          }
        }
      }
    }
  }
}
